<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\jpd\Documents\Programming\JAVA\netbeans\shop\tikadto na\mga_jar\server.jar</jar>
  <outfile>C:\Users\jpd\Documents\Programming\JAVA\netbeans\shop\tikadto na\mga_exe\ikawBahala Server - John Paul Denaya.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\jpd\Documents\Programming\JAVA\netbeans\shop\tikadto na\blue_logo.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>20</minVersion>
    <maxVersion>22</maxVersion>
  </jre>
</launch4jConfig>